.pane {
    -fx-background-color: #ff1493;
    -fx-padding: 16;
}

.text-field {
    -fx-border-color: #000000;
    -fx-border-radius: 0;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #000000;
}

.button {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-padding: 6 12 6 12;
}

.label {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 20px;
}